extends layout1.pug
block content
    div.container
        div.row
            div.col-12
                div.container
                    div.row
                        div.col-12
                            h3 SITTING ROOM FURNITURE
                    div.row
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it
        
                    div.row
                        div.col-12
                            h3 BED ROOM FURNITURE
                    div.row
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it
        
                    div.row
                        div.col-12
                            h3 DINNING FURNITURE
                    div.row
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it                
        
                    div.row
                        div.col-12
                            h3 GARDEN FURNITURE
                    div.row
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it    
                        div.card.col-sm-6.col-md-4.col-lg-2
                            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                            div
                                h4 Living room
                                p This is it
                    




