extends layout.pug
block content
    div.container
        div.row
            div.col-md-12                   
                h3.bodyCenter Furniture
                    a(name="Furniture")
                div.row
                    div.card.col-sm-12.col-md-6.col-lg-3
                        img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
                        div
                            a.homeCard(href="/home/furniture#livingroom")
                                h4 Living room
                    div.card.col-sm-12.col-md-6.col-lg-3
                        img.cardimg(src="/img/bedroom.png", alt="Living room Furniture")
                        div
                            a.homeCard(href="/home/furniture#bedroom")
                                h4 Bed room
                    div.card.col-sm-12.col-md-6.col-lg-3
                        img.cardimg(src="/img/dining.png", alt="Living room Furniture")
                        div
                            a.homeCard(href="/home/furniture#dining")
                                h4 Dining
                    div.card.col-sm-12.col-md-6.col-lg-3
                        img.cardimg(src="/img/garden.png", alt="Living room Furniture")
                        div
                            a.homeCard(href="/home/furniture#garden")
                                h4 Garden
        div.row
            div.col-md-12                   
                h3.bodyCenter Electronics
                    a(name="Electronics")
                div.row
                    div.card.col-sm-12.col-md-6
                        img.cardimg(src="/img/ent.png", alt="Living room Furniture")
                        div
                            a.homeCard(href="/home/electronics#ent")
                                h4 Entertainment
                    div.card.col-sm-12.col-md-6
                        img.cardimg(src="/img/kitchen.png", alt="Living room Furniture")
                        div
                            a.homeCard(href="/home/electronics#kitchen")
                                h4 Kitchen
        div.row
            div.col-md-12                   
                h3.bodyCenter Boutique
                    a(name="Bootique")
                div.row
                    div.card.col-sm-12.col-md-4
                        img.cardimg(src="/img/ladies.png", alt="Living room Furniture")
                        div
                            a.homeCard(href="/home/boutique#ladies")
                                h4 Ladies 
                    div.card.col-sm-12.col-md-4
                        img.cardimg(src="/img/kids3.png", alt="Living room Furniture")
                        div
                            a.homeCard(href="/home/boutique#kids")
                                h4 Kids Corner
                    div.card.col-sm-12.col-md-4
                        img.cardimg(src="/img/men2.png", alt="Living room Furniture")
                        div
                            a.homeCard(href="/home/boutique#gentlemen")
                                h4 Gentlemen
    