extends layout
block content
    div.container
        div.row
            div.col-sm-8
                h4 Online Item Registration
                form.mt-4(action="/upload" method="POST" enctype="multipart/form-data")
                    div.form-group
                        input.form-control-file.border(type="file" id="inputFiles")
                        input.btn.btn-primary(type="submit" placeholder="Upload")
        div.row
            div.col-sm-12
                div.preview-images
        