doctype html
html
    head
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        link(rel="stylesheet", href="/bootstrap-4.5.0-dist/css/bootstrap.css")
        link(rel="stylesheet", href="site.css")
        title=`${title}`
    body
        nav.navbar.navbar-expand-lg.bg-dark.fixed-top
            img.logo(src="img/logo.PNG")
            p.navbar-brand.csBrand Covid Stores
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse(id="navbarSupportedContent")
                ul.navbar-nav.ml-auto
                    li.nav-item.active
                        a.nav-link(href="#") About Us
                    li.nav-item
                        a.nav-link(href="#Furniture") Furniture
                    li.nav-item
                        a.nav-link(href="#Electronics") Electronics
                    li.nav-item
                        a.nav-link(href="#Bootique") Boutique
                    li
                        a(href="/login")
                            button
                                img.btnlogo(src="/img/staffonly.png", alt="Staff Login")
                
        div.containerfluid
            
            div.row
                div.col
            div.row.drop
                div.col-md-3
                div.col-md-6
                    div(id="logoCenter")
                        img(src="img/logo.PNG", alt="Covid Store Logo")
                div.col-md-3
        block content
        script(src="/bootstrap-4.5.0-dist/js/bootstrap.js")
        script(src="/bootstrap-4.5.0-dist/js/jquery-3.5.1.min.js")
        script(src="store.js")
    footer
        div.containerfluid.csBrand
            div.row
                div.col-4
                    div.container
                        div.row
                            h4 Contact Us
                        div.row
                            h5 Phone: 
                            p +256-789-940-343
                        div.row
                            h5 Email: 
                            p bikojeremy@gmail.com
                div.col-4
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                div.col-4
                    p.copyright © Biko Jeremy Biteete 