doctype html
html
    head
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        link(rel="stylesheet", href="/bootstrap-4.5.0-dist/css/bootstrap.css")
        link(rel="stylesheet", href="/site.css")
        title=`${title}`
    
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        img.logo(src="/img/logo2.PNG")
        p.navbar-brand.csBrand Covid Stores
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse(id="navbarSupportedContent")
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href="/") About Us
                li.nav-item
                    a.nav-link(href="/furnitureRegistration") Furniture 
                li.nav-item
                    a.nav-link(href="/electronicsRegistration") Electronics
                li.nav-item
                    a.nav-link(href="/boutiqueRegistration") Boutique
                li.nav-item
                    a.nav-link(href="/registration") User Registration
                li.nav-item
                    a.nav-link(href="/inventory") Inventory
        form(action="/logout" method="POST")
            a(href="/logout")
                button.btn.btn-outline-success
                    img.btnlogo(src="/img/logout.jpg", alt="Staff Login") 
    body    
        div.containerfluid
            div.row
                div.col-md-3.col-xlg-2
                    img(style="width: 100%;" src="/img/logo.PNG", alt="Covid Store Logo")
                div.col-md-9.col-xlg-10
                    block content
        script(src="/bootstrap-4.5.0-dist/js/jquery-3.5.1.min.js")
        script(src="/bootstrap-4.5.0-dist/js/bootstrap.js")
        script(src="store.js")
    footer
        div.containerfluid.csBrand
            div.row
                div.col-4
                    div.container
                        div.row
                            h5 Contact Us
                        div.row
                            h6 Phone: 
                            p +256-789-940-343
                        div.row
                            h6 Email: 
                            p bikojeremy@gmail.com
                div.col-4
                    div.row
                        h5 Follow Us
                    div.row
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                div.col-4
                    div.row
                        p.copyright © Biko Jeremy Biteete 