/*.centeredText{
    text-align: center;
}

.galSelect{
    padding: 200px, 200px, 200px, 200px;
    
}*/
.error{
    color: red;
    font-size: 90%;
}
.btnlogo{
    height: 50px;
    width: 50px;
    background-color: white;
}
body{
    padding-top: 100px;
}
footer{
    background-color:#333333;
    color: #8AC53F;
}
.fullNav{
    position: fixed;
}
.csBrand{
    color: #8AC53F;
    padding-left: 10px;
}
.logo{
    width: 75px;
    height: 75px;
    padding-left: 5px;
    padding-top: 5px;
}
.navCovid{
    float: right;
    list-style-type: none;
    margin: 0px;
    padding-right: 10px;
    text-align: center;
}
.navList{
    text-align: center;
    display: block;
    padding: 8px;
    display: inline;
}
a{
    color: #8AC53F;
    text-decoration: none;
    text-align: center;
}
.storeA:hover{
    color: white;
}
.select.form-control:focus{
    background-color: #8AC53F;
}

#logoCenter{
    text-align: center;
    height: 100%;

}
.bodyCenter{
    align-content: center;
    text-align: center;
}
.focusCenter{
    text-align: center;
}
.formCenter{
    padding-left: 25%;
    padding-right: 25%;
}
.tableCenter{
    display: inline-block;
}
th{
    padding: 5px 5px 5px 5px;
}
.tableHeader{
    color: #333333;
    background-color: #8AC53F;
}
.formContent{
    padding: 5px, 5px, 5px, 5px;
}
.inpadding{
    float: right;
    padding: 5px, 5px, 5px, 5px;
}
.card{
    float: left;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.homeCard{
    text-align: left;
    color: #333333;
}
.homeCard:hover{
    color: #8AC53F;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardimg{
    width: 100%;
}
.ecardimg{
    width: 200px;
    height: 200px;
}
.dpCard{
    float: right;
    background-color: #8AC53F;
    color: #333333;
}
.electronicCard{
    float: left;
    margin-right: 1%;
    margin-bottom: 10px;
    width: 41%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.electronicCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container{
    width: 100%;
}

.notice{
    color: tomato;
}
.copyright{
    float: right;
}
.btnBrand{
    background-color: #8AC53F;
}
.btnBrand:hover{
    background-color: #8Ac10F;
}
.fa {
    padding: 20px 20px 20px 20px;
    font-size: 50px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }



/*{box-sizing: border-box;}*/

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}